<div class="pageContainer">
    <side-nav></side-nav>
    <div class="landing">
        <div class="overlay"></div>
        <div class="nav">
            <div class="nav__header">
                <div class="nav__header__text" [routerLink]="['Home']">work</div>
            </div>
            <div class="nav__menu" (click)="toggleMenu = !toggleMenu">
                <div><i class="fa fa-bars" aria-hidden="true"></i></div>
            </div>
            <div class="nav__options" [ngClass]="{showOptions: !toggleMenu}">
                <div class="" [routerLink]="['Blog']"><p class="">Blog</p></div>
                <div class="" [routerLink]="['Work']"><p class="">Work</p></div>
                <div class="" [routerLink]="['Life']"><p class="">Life</p></div>
            </div>
        </div>
    </div>
    <div class="pageContent">
        <div class="pageIntro">
            <div class="pageHeader">
                Here are some <br> clients and technologies <br>I have worked with
            </div>
            <div class="pageArrow">
                <img class="arrow" src="/img/arrow.svg" alt="">
            </div>
        </div>

        <client-card *ngFor="let client of clients"
            [client]="client">
        </client-card>


        <div class="links">
            <h2><a target="_blank" href="https://github.com/dwbelliston">Git Hub</a></h2>
            <h2><a target="_blank" href="https://www.linkedin.com/in/dustinbelliston">LinkedIn</a></h2>
            <h2><a target="_blank" href="https://www.facebook.com/dustin.belliston">Facebook</a></h2>
        </div>
    </div>
</div>